<div class="container">

	<!-- INTO THE WILD -->

	<div class="wild-container">
		<div class="wild-image1">
			<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/dsc1709.png">
    </div>
			<div class="wild-image2">
				<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/dsc1671.png">
    </div>
				<div class="wild-text">
					<h2>INTO THE WILD</h2>
					<p>Experience our new ekdum jhakas collection in green and pink. Do bandiyan ja rahi h jungle me
						sher kha jaega. This season, the designers at SIX SEASONS tap into the wild beauty of the
						flowers that bloom in the Himalayan foothills, presenting a range of apparel and jewellery that
						bear motifs inspired by local flora, heralding the arrival of Spring 2020.</p>
				</div>
			</div>


			<!-- SILVER PARADISE -->

			<div class="paradise-container">
				<div class="wild-text">
					<h2>FLORAL DELIGHT</h2>
					<p>Lelo lelo lelo 100 100 rupaya mar jao mar do kaat do wah modi ji waah ekdum heroiniya ban jaoge
						hamara kapda pehin ka laal timatir dikhne lagoge hahahhahaha flora, heralding the arrival of
						Spring.</p>
				</div>
				<div class="wild-image1">
					<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight1.png">
    </div>
					<div class="wild-image2">
						<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight2.png">
    </div>
					</div>

					<!-- FLORAL DELIGHT -->
					<div class="delight-container">
						<div class="wild-text">
							<h2>FLORAL DELIGHT</h2>
							<p>Lelo lelo lelo 100 100 rupaya mar jao mar do kaat do wah modi ji waah ekdum heroiniya ban
								jaoge hamara kapda pehin ka laal timatir dikhne lagoge hahahhahaha flora, heralding the
								arrival of Spring.</p>
						</div>
						<div class="wild-image1">
							<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight1.png">
    </div>
							<div class="wild-image2">
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight2.png">
    </div>
							</div>
						</div>