<div class="container">

	<!-- INTO THE WILD -->

	<div class="wild-container">
		<div class="wild-image1">
			<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight1.png">
    </div>
			<div class="wild-image2">
				<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight2.png">
    </div>
				<div class="wild-text">
					<h2>INTO THE WILD</h2>
					<p>Experience our new ekdum jhakas collection in green and pink. Do bandiyan ja rahi h jungle me
						sher kha jaega. This season, the designers at SIX SEASONS tap into the wild beauty of the
						flowers that bloom in the Himalayan foothills, presenting a range of apparel and jewellery that
						bear motifs inspired by local flora, heralding the arrival of Spring 2020.</p>
				</div>
			</div>

			<hr
				style="display: block;height: 2px;border: 0;border-top: 2px solid #ccc;margin: 1em 0; padding: 0; margin-top: 8vh;margin-bottom: 8vh;" />

			<!-- SILVER PARADISE -->
      <div>
			<!-- <div style="position: absolute; background-color:pink; width: 50%">
        </div> -->
				<div class="paradise-container">
					<!-- <div style="flex-grow: 4;">1</div>
        <div style="flex-grow: 2;">2</div>
        <div style="flex-grow: 4;">3</div> -->

					<div style="flex-grow: 4" class="wild-text">
						<h2>FLORAL DELIGHT</h2>
						<p>Lelo lelo lelo 100 100 rupaya mar jao mar do kaat do wah modi ji waah ekdum heroiniya ban
							jaoge
							hamara kapda pehin ka laal timatir dikhne lagoge hahahhahaha flora, heralding the arrival of
							Spring.</p>
					</div>
					<div style="flex-grow: 2" class="paradise-image1">
						<div>
							<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/paradise1.png">
          </div>
							<div>
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/paradise2.png">
          </div>
							</div>
							<div style="flex-grow: 4" class="wild-image2">
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/paradise3.png">
    </div>
							</div>
      </div>


						<hr
							style="display: block;height: 2px;border: 0;border-top: 2px solid #ccc;margin: 1em 0; padding: 0; margin-top: 8vh;margin-bottom: 8vh;" />

						<!-- FLORAL DELIGHT -->
						<div class="delight-container">
							<div class="wild-text">
								<h2>FLORAL DELIGHT</h2>
								<p>Lelo lelo lelo 100 100 rupaya mar jao mar do kaat do wah modi ji waah ekdum heroiniya
									ban
									jaoge hamara kapda pehin ka laal timatir dikhne lagoge hahahhahaha flora, heralding
									the
									arrival of Spring.</p>
							</div>
							<div class="wild-image1">
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight1.png">
    </div>
								<div class="wild-image2">
									<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Homepage/delight2.png">
    </div>
								</div>
							</div>