.container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  margin-left: 12vh;
  margin-right: 12vh;
}

.wild-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wild-container > div {
  margin: 2vh;
  width: 100%;
}

.wild-container > div > img{
  width: 100%;
  height: auto;
}

.paradise-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paradise-container > div {
  margin: 2vh;
  width: 100%;
}

.paradise-container > div > img{
  width: 100%;
  height: auto;
}

.delight-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delight-container > div {
  margin: 2vh;
  width: 100%;
}

.delight-container > div > img{
  width: 100%;
  height: auto;
}