<div style="margin-top: 5vh;" class="container">

	<!-- Intro -->

	<div class="intro-text">
		<h5 style="text-align:center;">ABOUT US</h5>
		<p style="text-align:center;">Inspired by the diverse flora and fauna, the richness, the history of Indian
			culture and crafts, we have started
			this company, which aims towards empowering the craftsmen of India and keeping the Indian ethnicity alive in
			contemporary times. We want to deliver our best designs in jewellery and apparel at reasonable prices.
			The world as four seasons –Spring Summer Autumn and winter. But as per the Hindu calendar, Indian has six
			seasons, each lasting for about two months.
			These eternal Radha-Krishna paintings by BG Sharma portraying these six Indian seasons are the main
			inspiration
			behind the naming of our company.</p>
	</div>


	<!-- Images -->

	<div class="container-fluid intro-image-container">
		<div style="align-items:center" class="row">
			<div class="col">
				<div class="intro-image">
					<div class="image-overlay">
						<h6 style="text-align:center">
							VASANT
						</h6>
						<p>(Spring)</p>
					</div>
					<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/AboutUs/vasant.png">
        </div>
				</div>
				<div class="col">
					<div class="intro-image">
						<div class="image-overlay">
							<h6 style="text-align:center">
								GRISHMA
							</h6>
							<p>(Summer)</p>
						</div>
						<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/AboutUs/grishma.png">
        </div>
					</div>
					<div class="col">
						<div class="intro-image">
							<div class="image-overlay">
								<h6 style="text-align:center">
									VARSHA
								</h6>
								<p>(Monsoon)</p>
							</div>
							<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/AboutUs/varsha1.png">
        </div>
						</div>
					</div>
					<div style="align-items:center" class="row">
						<div class="col">
							<div class="intro-image">
								<div class="image-overlay">
								<h6 style="text-align:center">
									SHARAD
								</h6>
								<p>(Autumn)</p>
							</div>
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/AboutUs/sharad.png">
        </div>
							</div>
							<div class="col">
								<div class="intro-image">
									<div class="image-overlay">
								<h6 style="text-align:center">
									HEMANT
								</h6>
								<p>(Winter)</p>
							</div>
									<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/AboutUs/hemant.png">
        </div>
								</div>
								<div class="col">
									<div class="intro-image">
									<div class="image-overlay">
								<h6 style="text-align:center">
									S
								</h6>
								<p>(Monsoon)</p>
							</div>
										<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/AboutUs/shishir1.png">
        </div>
									</div>
								</div>
							</div>

							<hr
								style="display: block;height: 2px;border: 0;border-top: 2px solid #ccc;margin: 1em 0; padding: 0; margin-top: 8vh;margin-bottom: 8vh;" />

							<h5 style="text-align:center;">OUR TEAM</h5>

							<div class="row team-container" style="margin-top:70px;">
								<div class="col-lg-2">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxvftmCqzsbcj1yixV3GfM5P3-x283xb8vMf73WH7Y-rmax0vY" alt="Cinque Terre">
    </div>
									<div class="col-lg-10">
										<h5><b>
				Saloni Parashar</b>
											<p><small class="text-muted">Founder, Designer</small></p>
										</h5>
										<p>After completing her Masters Degree in Apparel Design at National
											Institute of Design,
											she
											followed
											her
											passion of designing garments at entrepreneur level with this
											company. She has bagged
											two awards
											at
											Khadi India Designer Competition in 2019 - Most Innovative
											Designs and Best Indo-Western
											Designer of
											the
											Year.
										</p>
									</div>
								</div>
								<div class="row team-container" style="margin-top:70px;">
									<div class="col-sm-10">
										<h5 style="text-align:right"><b>
				Shubham Shroff</b>
											<p><small class="text-muted">Founder</small></p>
										</h5>
										<p style="text-align:right">With an experience of working in his
											family jewellery business
											over a
											decade, he simultaneously completed his B.Tech in Metallurgical
											Engineering and
											Nanotechnology.
											He
											is well-versed with properties of metals, their transformations
											according to
											requirements of
											jewellery-making industry.
										</p>
									</div>
									<div class="col-sm-2">
										<img style="border-radius:50%;" src="https://cdn.pixabay.com/photo/2013/07/12/14/36/blue-148582_960_720.png" alt="Cinque Terre">
        </div>
									</div>
								</div>