<div class="container">
	<div class="image-container">
		<div class="col1">
			<div>
				<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery1.png">
      </div>
				<div>
					<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery2.png">
      </div>
				</div>
				<div class="col2">
					<div class="cell21">
						<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery3.png">
        </div>
						<div>
              <div style="position: absolute; top: 10px; background-">Text</div>
							<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery4.png">
        </div>
							<div class="cell23">
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery5.png">
        </div>
							</div>
							<div class="col3">
								<div>
									<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery6.png">
          </div>
									<div>
										<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery7.png">
          </div>
									</div>
								</div>
							</div>