<div class="container">
	<div class="image-container">
		<div class="col1">
			<div (click)="navigateToProducts()">
        <div class="image-overlay"><h1 style="color:black">BANGLES</h1></div>
				<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery1.png">
      </div>
				<div>
          <div class="image-overlay"><h1 style="color:black">RINGS</h1></div>
					<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery2.png">
      </div>
				</div>
				<div class="col2">
					<div class="cell21">
            <div class="image-overlay"><h1 style="color:black">RINGS</h1></div>
						<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery3.png">
        </div>
						<div>
              <div class="image-overlay"><h1 style="color:black">NECKLACES</h1></div>
							<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery4.png">
        </div>
							<div class="cell23">
                <div class="image-overlay"><h1 style="color:black">MANGTIKAS</h1></div>
								<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery5.png">
        </div>
							</div>
							<div class="col3">
								<div>
                  <div class="image-overlay"><h1 style="color:black">ANKLETS</h1></div>
									<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery6.png">
          </div>
									<div>
                    <div class="image-overlay"><h1 style="color:black">NOSEPINS</h1></div>
										<img src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/Jewellery/jewellery7.png">
          </div>
									</div>
								</div>
							</div>