.topbar-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.topbar-share-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.topbar-logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.topbar-menu-container {
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: rgba(211, 193, 182, 0.6274509803921569);
  align-items: stretch;
}

.topbar-menu {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.topbar-menu-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}


.topbar-logo {
  width: 68vh;
  height: auto;
  margin-top: 7vh;
  margin-bottom: 3vh;
}

.logo {
  width: 100%;
  height: auto;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/