<div class="topbar-container">

	<div class="topbar-logo-container">
		<div class="topbar-logo">
			<img class="logo" src="https://cdn.jsdelivr.net/gh/abhishek-tiw/six-seasons@master/src/assets/logo.png">
    </div>
		</div>
		<div class="topbar-menu-container">
			<div style="flex-grow: 1"></div>
			<div style="flex-grow: 8" class="topbar-menu">
        <a href="#"><p>ABOUT US</p></a>
        <a href="#"><p>APPAREL</p></a>
        <a href="#"><p>JEWELLERY</p></a>
        <a href="#"><p>CONTACT</p></a>
      </div>
			<div style="flex-grow: 1" class="topbar-share-container">
				<i class="material-icons">shopping_cart</i>
				<i class="material-icons">shopping_cart</i>
				<i class="material-icons">shopping_cart</i>
			</div>
			<!-- <div >
				
			</div> -->
		</div>
		<!-- <div class="topbar-dropdown-container">
			<i class="material-icons">shopping_cart</i>
		</div> -->
		<div>

			<!-- <a class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a> -->

			<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->