.topbar-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.topbar-share-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.topbar-logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.topbar-menu-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(211, 193, 182, 0.6274509803921569);
}

.topbar-dropdown-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.topbar-logo {
  width: 60vh;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.logo {
  width: 100%;
  height: auto;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/